/*\ ──────────────────────────────────── /*/
/* FONT IMPORTS */
/*\ ──────────────────────────────────── /*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


/*\ ──────────────────────────────────── /*/
/* CUSTOM PROPERTY */
/*\ ──────────────────────────────────── /*/

:root {

  /* 
   * colors
 */

  --aswad-black: #18181b;
  --emptiness: #FCFCFC;
  --black: #000000;
  --sea-of-tears: #194E9C;
  --fluorescent-red: #FF5656;
  --blizzard-blue: #A4EBF3;
  --water-raceway: #0081C9;
  --extraviolet: #EEEEEE;
  --tangled-web: #B2B2B2;
  --antarctic-deep: #343A40;
  --linear-gradient-dark-blue-light-blue: -webkit-linear-gradient(bottom right, #075DE2, #5C93E8);
  --linear-gradient-light-blue-dark-blue: -webkit-radial-gradient(top left, #5C94E8, #01183B);

  /* 
   * typeography
 */

  --ff-hind: "Hind", sans-serif;

  --fs-1: clamp(3.2rem, 2.2769rem + 2.5641vw, 7.2rem);
  --fs-2: clamp(2.6rem, 2.4615rem + 0.3846vw, 3.2rem);
  --fs-3: clamp(2rem, 1.8600rem + 0.3889vw, 2.6rem);
  --fs-4: clamp(1.8rem, 1.7077rem + 0.2564vw, 2.2rem);
  --fs-5: clamp(1.8rem, 1.7538rem + 0.1282vw, 2rem);
  --fs-6: 1.6rem;
  --fs-7: 1.3rem;
  --fs-8: 1.1rem;
  --fs-icon: clamp(2rem, 1.7692rem + 0.6410vw, 3rem);

  --fw-700: 700;
  --fw-800: 800;
  --fw-300: 300;

  /* 
   * spacing
 */

  --section-padding-desktop: 7% 15%;
  --section-padding-tablet-mobile: 7% 10%;
  --text-margin-bottom: 26px;

  /* 
   * border
 */

  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-8: 8px;
  --radius-6: 6px;
}

/*\ ──────────────────────────────────── /*/
/* RESET */
/*\ ──────────────────────────────────── /*/

html {
  font-family: var(--ff-hind);
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: var(--emptiness);
  color: var(--aswad-black);
  font-size: 1.6rem;
  line-height: 1.7;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
}

h2 {
  font-size: var(--fs-2);
  margin-bottom: var(--text-margin-bottom);
}

h3 {
  font-size: var(--fs-3);
}

h4 {
  font-size: var(--fs-4);
}

h5 {
  font-size: var(--fs-7);
}

h6 {
  font-size: var(--fs-8);
}

p {
  font-size: var(--fs-6);
  margin-bottom: var(--text-margin-bottom);
  font-weight: var(--fw-300);
}

/*\ ──────────────────────────────────── /*/
/* REUSE STYLE*/
/*\ ──────────────────────────────────── /*/
section {
  padding: var(--section-padding-desktop);
  text-align: center;
}

@media screen and (max-width: 720px) {
  section {
    padding: var(--section-padding-tablet-mobile);
  }
}

main,
footer {
  position: relative;
  top: 80px;
}

/*\ ──────────────────────────────────── /*/
/* KEYFRAME ANIMATIONS*/
/*\ ──────────────────────────────────── /*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*\ ──────────────────────────────────── /*/
/* NAV*/
/*\ ──────────────────────────────────── /*/

.content-wrapper {
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 100;
  background: var(--sea-of-tears);
  color: var(--emptiness);
  transition: transform 0.4s;
}

.content-wrapper a {
  font-size: var(--fs-3);
  text-transform: uppercase;
}

.content-wrapper .call-us {
  font-size: var(--fs-5);
  display: flex;
  text-transform: capitalize;
}

.content-wrapper {
  transition: transform 0.4s;
}

.scroll-down .content-wrapper {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .content-wrapper {
  transform: none;
}

@media screen and (max-width: 720px) {

  .content-wrapper {
    justify-content: center;
  }

  .content-wrapper .call-us {
    display: none;
  }
}

/*\ ──────────────────────────────────── /*/
/* HERO*/
/*\ ──────────────────────────────────── /*/

#hero {
  background: url("https://dutycallsplumbing.com/wp-content/uploads/2023/01/watermark-background-logo.png");
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--emptiness);
  padding: 10% 5%;
}

@media screen and (max-width: 700px) {
  #hero{
    background-attachment: scroll;
  }
}

#hero .row {
  z-index: 1;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--black);
  opacity: 0.50;
}

#hero h2 {
  margin-bottom: 26px;
}

.btn-request-service {
  background: var(--fluorescent-red);
  padding: 10px 30px;
  border-radius: var(--radius-pill);
}

@media screen and (max-width: 720px) {
  #hero {
    padding: 20% 5%;
  }
}

/*\ ──────────────────────────────────── /*/
/* ABOUT*/
/*\ ──────────────────────────────────── /*/

#about {
  background: var(--linear-gradient-light-blue-dark-blue);
  color: var(--emptiness);
}

#about .row-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 450px));
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

#about .row-two .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--water-raceway);
  padding: 30px;
  width: 100%;
}

.icon-title {
  margin-bottom: 16px;
  color: var(--aswad-black);
  font-weight: var(--fw-700);
}

.icon-description {
  font-size: var(--fs-5);
}

.about-icon {
  max-width: 30%;
  min-width: 150px;
}

/*\ ──────────────────────────────────── /*/
/* SERVICES*/
/*\ ──────────────────────────────────── /*/

#services {
  position: relative;
}

.services-info-box-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
  gap: 20px;
  grid-auto-rows: 1fr;
  margin-top: 50px;
}

.services-info-box {
  width: 100%;
  height: 250px;
  border: 2px solid var(--black);
  box-shadow: 0px 12px 9px var(--sea-of-tears);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.5s ease;
}

.services-info-box h4 {
  color: var(--sea-of-tears);
}

.services-icon {
  font-size: var(--fs-icon);
}

/* HOVER OVER SERVICES BOXES */
.services-info-box:hover,
.services-info-box:active {
  background: var(--sea-of-tears);
  color: var(--emptiness);
  box-shadow: none;
}

.services-info-box:hover h4,
.services-info-box:active h4 {
  color: var(--emptiness);
}

.services-info-box:hover .services-icon,
.services-info-box:active .services-icon {
  color: var(--blizzard-blue);
}

/*\ ──────────────────────────────────── /*/
/* MODAL*/
/*\ ──────────────────────────────────── /*/

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 101;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.modal-content {
  background: var(--emptiness);
  width: 600px;
  min-width: 280px;
  height: 400px;
  border-radius: var(--radius-8);
  border: 1px solid var(--black);
  padding: 10px 10px 15px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 2px 2px 4px var(--aswad-black);
  overflow: hidden;
  overflow-y: scroll;
  text-align: left;
}

.modal-content ul li::before {
  content: '\f058';
  font-family: "Font Awesome 6 Free";
  margin-right: 8px;
  color: var(--sea-of-tears);
}

.btn-close {
  align-self: flex-end;
  border-radius: var(--radius-circle);
  border: none;
  background: var(--extraviolet);
  color: var(--tangled-web);
  padding: 8px 12px;
  font-weight: var(--fw-800);
}

.btn-close:hover,
.btn-close:focus {
  color: var(--black);
}

#services-modal .modal-information {
  display: none;
}

/*\ ──────────────────────────────────── /*/
/* BANNER*/
/*\ ──────────────────────────────────── /*/

#banner {
  background: var(--linear-gradient-dark-blue-light-blue);
  color: var(--emptiness);
  padding-top: 2%;
  padding-bottom: 2%;
}

#banner h2 {
  font-size: calc(var(--fs-2) + 0.5rem);
  text-transform: uppercase;
  margin: 0;
}

#banner h3 {
  font-weight: var(--fw-300);
}

#banner p {
  margin: 0;
  font-size: var(--fs-4);
}

#banner .row {
  margin: 26px auto;
}

#banner .row-one {
  margin-bottom: 50px;
}

#banner .row-two .column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 700px) {
  #banner .row-two .column {
    flex-direction: column-reverse;
  }
}

.banner-call-us-btn {
  background: var(--fluorescent-red);
  padding: 8px 60px;
  border-radius: var(--radius-pill);
  font-size: calc(var(--fs-4) - 0.2rem);
}

.banner-call-us-btn::after {
  content: '\f879';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-left: 8px;
}

/*\ ──────────────────────────────────── /*/
/* FOOTER*/
/*\ ──────────────────────────────────── /*/

footer {
  background: url("https://dutycallsplumbing.com/wp-content/uploads/2023/01/footer-background-landing-page-new.png");
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--emptiness);
  height: auto;
  padding: 2% 5%;
  text-align: center;
}

@media screen and (max-width: 700px) {
  footer{
    background-attachment: scroll;
  }
}

footer .row {
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--black);
  opacity: 0.85;
}

footer ul {
  font-size: var(--fs-4);
  font-weight: var(--fw-300);
}

footer .row-one {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid var(--sea-of-tears);
  margin-bottom: 26px;
  padding-bottom: 36px;
}

footer .row-one .column-one {
  width: 60%;
}

footer .row-one .column-two {
  border-left: 6px solid var(--water-raceway);
  padding-left: 36px;
}

@media screen and (max-width: 879px) {
  footer .row-one .column-two {
    border: none;
    padding-left: 0;
  }
}

footer .service-locations {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 36px;
}

@media screen and (max-width: 390px) {
  footer .service-locations {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }

}

footer .business-hours {
  line-height: 3;
}

footer .row-two .column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 616px) {
  footer .row-two .column {
    justify-content: center;
  }
}